.projects {
    margin-top: 2rem;
    padding: 0;
    width: 100%;
    max-width: 1200px;
  }

/* marquee effect */
  .marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background-color: transparent; 
}

.marquee-content {
    display: flex;
    gap: 2rem;
    width: max-content;
    animation: scroll 15s linear infinite; 
    will-change: transform;
}

.marquee-content h1 {
    color: #D68D08;
    font-size: xx-large;
    display: inline-block;
    white-space: nowrap;
    margin: 0;
}

@keyframes scroll {
  from {
      transform: translate3d(0, 0, 0);
  }
  to {
      transform: translate3d(-50%, 0, 0); 
  }
}

/* container */
  .container-grid {
    margin-top: 1rem;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
  }
  .container-grid .project-card {
    position: relative;
    border-radius: 5px;
    padding: 20px;
    min-width: 200px; 
    max-width: 600px; 
    min-height: 380px;
    border: 1px solid;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    box-shadow: -3px 5px 0px 0px ;
  }


  .container-grid .project-card .project-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .container-grid .project-card:hover {
    transform: translateY(-5px);
    box-shadow: -6px 10px 0px 0px ;
  }
  .container-grid .project-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.2s ease-in-out;
  }
  
  .container-grid .project-card .project-title {
    text-align: center;
    font-family: 'Lemonmilk';
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 80px;
    display: inline-block;
    vertical-align: middle;
    color: #181818;
    
    padding-right: 5px;
  }

  .container-grid .project-card .project-title:hover {
    cursor: pointer;
    text-decoration: underline 2px #D68D08;
  }

  .container-grid .project-card .project-title a {
    margin-left: 5px;
  }
  
  .container-grid .project-card .project-description {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
  }

  .container-grid .project-card .technology-stack {
    flex: 0.5; 
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    text-align: center;
    padding: 10px; 
    box-sizing: border-box; 
    margin-top: auto;
  }

  .container-grid .project-card .technology-stack span {
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 2px 5px 0px;
    border-radius: 3px;
  }
  .footer {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
  
  .container-grid .project-links {
    font-size: 18px;
    vertical-align: middle;
    color: #181818;
    text-decoration: underline 2px #D68D08;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-left: 10px;
    margin-top: auto;
    padding-bottom: 10px;
    flex-wrap: wrap; 
    width: 100%; 
}

.container-grid .project-links a:hover {
  transform: translateY(-5px);
}

  
  .preview-gif {
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}


  .project-preview {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 10px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 10px;
    border: 1px solid ;
  }

  

  /* custom fonts */
  @font-face {
    font-family: 'Highrise';
    src: url('/public/fonts/HighriseFont-Demo-Regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'Lemonmilk';
    src: url('/public/fonts/LEMONMILK-RegularItalic.otf') format('opentype');
  }

  @font-face {
    font-family: 'CodeEight';
    src: url('/public/fonts/Code 8x8.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Code';
    src: url('/public/fonts/CODE Bold.otf') format('opentype');
  }

  @font-face {
    font-family: 'GrandMalefic';
    src: url('/public/fonts/Grand Malefic.ttf') format('truetype');
  }