.projects {
    margin-top: 2rem;
    padding: 0;
    width: 100%;
    max-width: 1200px;
}


/* marquee effect */

.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background-color: transparent;
}

.marquee-content {
    display: flex;
    gap: 2rem;
    min-width: 200%;
    animation: scroll 15s linear infinite;
}

.marquee-content h1 {
    color: #D68D08;
    font-size: xx-large;
    display: inline-block;
    white-space: nowrap;
    margin: 0;
}

@keyframes scroll {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-50%, 0, 0);
    }
}


/* container */

.container-grid {
    margin-top: 1rem;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
}

.container-grid .project-card {
    position: relative;
    border-radius: 5px;
    padding: 20px;
    min-width: 200px;
    max-width: 600px;
    min-height: 380px;
    border: 1px solid;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    box-shadow: -3px 5px 0px 0px;
}

.container-grid .project-card .project-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container-grid .project-card:hover {
    transform: translateY(-5px);
    box-shadow: -4px 8px 0px 0px;
}

.container-grid .project-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

.container-grid .project-card .project-title {
    text-align: center;
    font-family: 'Lemonmilk';
    font-size: 1.3rem;
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 4rem;
    display: inline-block;
    vertical-align: middle;
    color: #272727;
    padding-right: 5px;
}

.container-grid .project-card .project-title:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.container-grid .project-card .project-title a span {
    display: inline-block;
    vertical-align: middle;
    color: #272727;
    padding-right: 5px;
    text-decoration: underline 2px #D68D08;
}

.container-grid .project-card .project-description {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}


/* Skills */

.container-grid .project-card .technology-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 0 0 0;
    margin-top: auto;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
}

.container-grid .project-card .technology-stack span {
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 0.95rem;
    margin: 0;
    white-space: nowrap;
    display: inline-block;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}


/* on mobile */

@media screen and (max-width: 768px) {
    .container-grid .project-card .technology-stack {
        flex-wrap: wrap;
        /* Allows skills to wrap instead of being in one row */
        justify-content: center;
        /* Centers the skills */
        padding: 5px;
        /* Reduce padding on smaller screens */
    }
    .container-grid .project-card .technology-stack span {
        font-size: 0.8rem;
        /* Make text smaller */
        padding: 3px 4px;
        /* Reduce padding for smaller boxes */
        margin-right: 5px;
        /* Reduce space between skill boxes */
        margin-bottom: 8px;
        min-width: 50px;
        /* Prevents shrinking too much */
        max-width: 100px;
        /* Adjust width dynamically */
        text-align: center;
        display: inline-block;
        /* Ensures proper wrapping */
    }
}


/* links container bottom */

.container-grid .project-links {
    font-size: 18px;
    vertical-align: middle;
    color: #181818;
    text-decoration: underline 2px #D68D08;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-left: 10px;
    margin-top: auto;
    padding-bottom: 10px;
    flex-wrap: wrap;
    width: 100%;
}

.container-grid .project-links a {
    text-decoration: underline 2px #D68D08;
}

.container-grid .project-links a:hover {
    transform: translateY(-5px);
}

.preview-gif {
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.project-preview {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid;
}


/* custom fonts */

@font-face {
    font-family: 'Highrise';
    src: url('/public/fonts/HighriseFont-Demo-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Lemonmilk';
    src: url('/public/fonts/LEMONMILK-RegularItalic.otf') format('opentype');
}

@font-face {
    font-family: 'CodeEight';
    src: url('/public/fonts/Code 8x8.ttf') format('truetype');
}

@font-face {
    font-family: 'Code';
    src: url('/public/fonts/CODE Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GrandMalefic';
    src: url('/public/fonts/Grand Malefic.ttf') format('truetype');
}